body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 5px;
}

#graph {
    text-align: center;
    height: 85vh;
}

svg {
    height: 100%;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}