body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 5px;
}

#graph {
    text-align: center;
    height: 88vh;
}

svg {
    height: 100%;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.spinner {
    width: 4rem;
    height: 4rem;
    border-top: 3px solid rgba(0, 0, 0, .5);
    border-right: 3px solid transparent;
    border-radius: 50%;
    animation: rotation .8s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}